@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: "Neue Montreal";
    font-weight: 500;
    src: url("./fonts/PPNeueMontreal/OTF/PPNeueMontreal-Book.otf");
  }

  @font-face {
    font-family: "Neue Montreal";
    font-weight: 400;
    src: url("./fonts/PPNeueMontreal/OTF/PPNeueMontreal-Thin.otf");
  }

  @font-face {
    font-family: "Neue Montreal";
    font-weight: 700;
    src: url("./fonts/PPNeueMontreal/OTF/PPNeueMontreal-Bold.otf");
  }